<div class="container">
    <h2 data-translate="userManagement.home.title">Users</h2>
    <jhi-alert></jhi-alert>

    <div class="table-responsive">
        <table class="table table-striped vertical-align-center">
            <thead>
            <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">

                <th jh-sort-by="login"><span data-translate="userManagement.login">Login</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="email"><span data-translate="userManagement.email">Email</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="createdDate"><span data-translate="userManagement.createdDate">Created Date</span> <span class="glyphicon glyphicon-sort"></span></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="user in vm.users track by user.id">
                <td><img ng-src = "/api/users/photo/{{user.login}}" check-image-user class="logo-users"></td>
                <td>{{user.login}}</td>
                <td>{{user.email}}</td>
                <td>{{user.createdDate | date:'dd/MM/yy HH:mm'}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
