.wrap-right-sidebar-publication{
    margin-top:15px;
}

.create-publication{
    width:100%;
    display:inline-block;
}

.wrap-items-right-sidebar-publication{
    background: #f6f8f9;
    margin-top: 15px;
}
.wrap-items-right-sidebar-publication h3{
    padding: 10px 10px;
    margin:0;
    border-bottom: 5px solid #4fbbca;
    border-top:5px solid #4fbbca;
    color:#4fbbca;
    font-weight: bold;
}
.wrap-items-right-sidebar-publication h3 i{
    padding-right:10px;
}
.wrap-items-right-sidebar-publication ul li a{
    color:#333333;
}
.wrap-items-right-sidebar-publication ul li a i{
    font-size: 8px;
}
