@import "custom-bootstrap";
@import "custom-setting-account";
@import "custom-users";

/*FONTS*/
@font-face {
    font-family: Oswald;
    src: url("../fonts/Oswald-Regular.ttf");
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
}
@font-face {
    font-family: Oswald;
    src: url("../fonts/Oswald-Bold.ttf");
    font-style: normal;
    font-weight: bold;
    font-stretch: normal;
}


body{
    font-family: Oswald;
}


/*COMMON SETTINGS*/
.vertical-align-center tbody tr td{
    vertical-align: middle;
}

/*NAVBAR*/
#main-navbar{
    background: #444;
    margin:0;
    border:none;
    .logo-img{
        max-width:50px;
        vertical-align: bottom;
    }
    .logo-desc{
        font-size: 22px;
        line-height: 50px;
        font-weight:bold;
        color:#fff;

        span{
            color: #B9B9B9;
            font-size: 18px;
            font-weight: normal;
        }
    }
    .navbar-right> li> a{
        color:#fff;
        font-size:16px;
        text-transform: uppercase;
        line-height: 50px;
    }
    .navbar-right> li:hover a, .navbar-right> li.active a{
        color:#444;
        background: #e7e7e7;
    }

    .btn-group{
        margin:20px 15px;
    }

}


/*INDEX PAGE*/
#main-carousel{
    margin:0 -15px;
    .slick-slide{
        width:100%;
        min-height:600px;
        background:yellow;
        background-position: center;
        background-size: cover;
        position:relative;
    }
    .slick-arrow{
        position:absolute;
        z-index:100;
    }
    .slick-next{
        bottom:50%;
        right:0;
    }
    .slick-prev{
        bottom:50%;
        left:0;
    }
}

